{{ partial "global-header.html" . }}

<section id="eboard">
    <div class="container">
        <div class="row" style="margin-top:50px">
            {{ $len := len .Site.Params.eboard.people }}
            {{ range $idx, $e := .Site.Params.eboard.people }}
            {{ if (modBool $idx 3) }}
                <div class="row" style="margin-top:50px">
            {{ end }}
                <div class="col-md-4 col-sm-6 eboard-item">
                    {{ $url := printf "img/eboard/%s" .img }}
                    <img src="{{ $url | absURL }}" class="center" alt="">
                        </a>
                        <div class="eboard-caption">
                            <h4>{{ .title | markdownify }}</h4>
                            <p class="text-muted">{{ .major | markdownify }}</p>
                            <p class="text-muted">{{ .year | markdownify }}</p>
                            <p class="text-muted">{{ .about | markdownify }}</p>
                        </div>
                </div>
            {{ if or ((modBool (add 1 $idx) 3)) (eq $idx $len ) }}
                </div>
            {{ end }}
            
            {{ end }}
        </div>
</section>
