{{ partial "global-header.html" . }}


<section id="members">
	<div class="container">
		<div class="tbl">
        	{{ $len := len .Site.Params.members.classes }}
        	{{ range $idx, $e := .Site.Params.members.classes }}
        	{{ if (modBool $idx 5) }}
        	<div>
        	{{ end }}
        		<div class="row">
	            	<div class="col">
	            		<h2 class="class-header">{{ .title }}</h2>
	            	</div>
	            	{{ range .names }}
	            	<div class="col">{{ .name }}</div>
	            	{{ end }}
	        	</div>
            {{ if or ((modBool (add 1 $idx) 5)) (eq $idx $len ) }}
            </div>
            {{ end }}
            
            {{ end }}
  		</div>
	</div>
</section>