{{ partial "global-header.html" . }}


<section id="members">
<div class="container">
  <div class="col-lg-12 text-center">
    <div class="container">
      <div class="tbl" style="margin-top: 50px">
      	    {{ $len := len .Site.Params.members.classes }}
            {{ range $idx, $e := .Site.Params.members.classes }}
            {{ if (modBool $idx 5) }}
            <div>
            {{ end }}
            	<div class="row">
	            	<div class="col">
	            		<h2 class="class-header">{{ .title }}</h2>
	            	</div>
	            	{{ range .names }}
	            	<div class="col">{{ .name }}</div>
	            	{{ end }}
	            </div>
    
            {{ if or ((modBool (add 1 $idx) 5)) (eq $idx $len ) }}
            </div>
            {{ end }}
            
            {{ end }}

 <!--       <div class="row">
            <div class="col"><h2 class="class-header">Alpha</h2></div>
                <div class="col">
                    Anu Nandi <br>
                    Nick Berg <br>
                    Michael Keller <br>
                    Shirley Che <br>
                    Sion Lee <br>
                    Katherine Goff
                </div>
        </div>
        <div class="row">
            <div class="col"><h2 class="class-header">Beta</h2></div>
                <div class="col">
                    Ashley Munger <br>
                    Dim Mang <br>
                    Elizabeth Chon <br>
                    Paula Laslou <br>
                    Jennifer Meer <br>
                    Henry Milek
                </div>
        </div>
        <div class="row">
            <div class="col"><h2 class="class-header">Gamma</h2></div>
                <div class="col">
                    Sophia Kim <br>
                    Ivona Popova <br>
                    Tatum Doyle <br>
                    Meera Kumar <br>
                    Olivia Gunther <br>
                    Ben Blythe <br>
                    Rachel Leung <br>
                    Riley Branigan <br>
                    Sergio Villaseñor <br>
                    Brandon Pope <br>
                    Jane Kim <br>
                    Sierra Welly <br>
                    Jisoo Kang <br>
                    Lena Dreves <br>
                    Margot Rice <br>
                    Mathilde Geannopulos
                </div>
        </div>
        <div class="row">
            <div class="col"><h2 class="class-header">Delta</h2></div>
                <div class="col">
                    Erin Hahn <br>
                    Brendan Killian <br>
                    Caleb Hogeterp <br>
                    Daniel Bramhall <br>
                    Izzie Kenhard <br>
                    Jordyn Houle <br>
                    Kate Thompson <br>
                    Lexi LaChappa <br>
                    Nathan Baylis <br>
                    NIck Guisinger <br>
                    Noah Weingarden <br>
                    Sara Charboneau <br>
                    Ty Buffington <br>
                    Suraj Sorab <br>
                    Sophia Vagnone <br>
                    Stephanie Glenn
                </div>
        </div>
        <div class="row">
	    <div class="col"><h2 class="class-header">Epsilon</h2></div>
            <div class="col">
                Aleah Rogalski <br>
                Anna Marcus <br>
                Anthony Krempa <br>
                Ashley Solle <br>
                Elizabeth Williams <br>
                Isabella Gierlinger <br>
                Jordan BRady <br>
                Julia Siegle <br>
                Lisi DiTullio <br>
                Maria Graham <br>
                Morgan Bergstrom <br>
                Peter Tolsma <br>
                Remy Farkas <br>
                Riana Hardyniec <br>
                Riston Escher <br>
                Warren Yu <br>
                Zachary Kolbusz <br>
                Zayna Syed <br><br>
            </div>
        <div>
	-->
      </div>
    </div>
  </div>
</div>
</section>
